{%- import "macros/buttons.html" as scope -%}
{%- import "macros/inputs.html" as inputs -%}

<form
    hx-post="/auth/email"
    hx-swap="outerHTML"
    x-data="{ loading: false }"
    x-on:htmx:before-request="loading = true"
    x-on:htmx:after-request="loading = false"
>
    <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}"/>
    {% call inputs::email(
        input_name="이메일", id="email", name="email", required=true,
        value=(email_value|nf),
        err_msg=(email_err_msg|nf))
    %}
    {% call inputs::password(
        input_name="비밀번호", id="password", name="password", required=true,
        value="",
        err_msg=(pass_err_msg|nf))
    %}
    {% call scope::button(button_name="이메일 로그인") %}
</form>
</form>