{%- import "macros/buttons.html" as scope -%}
{%- import "macros/inputs.html" as inputs -%}
<form 
    hx-post="/user/join"
    hx-trigger="submit"
    hx-swap="outerHTML"
    x-data="{ loading: false }"
    x-on:htmx:before-request="
        //nick_validate 호출시 아래 버튼 로딩 동작하지 않게
        $event.detail.pathInfo.requestPath === '/user/nick_validate'
        || $event.detail.pathInfo.requestPath === '/user/email_validate'
            ? loading = false : loading = true
    "
    x-on:htmx:after-request="loading = false"
    autocomplete="off"
    >
    <div
        hx-get="/user/nick_validate"
        hx-include="find input"
        hx-trigger="input from:(find input) throttle:0.5s"
        hx-target="find p"
        hx-swap="innerHTML"
    >
        {% call inputs::text(
            input_name="닉네임", id="nick_name", name="nick_name", required=true,
            value=(nick_name_value|nf),
            err_msg=(nick_name_err_msg|nf|linebreaksbr))
        %}
    </div>
    <div
        hx-get="/user/email_validate"
        hx-include="find input"
        hx-trigger="input from:(find input) throttle:0.5s"
        hx-target="find p"
        hx-swap="innerHTML"
    >
        {% call inputs::email(
            input_name="이메일", id="email", name="email", required=true,
            value=(email_value|nf),
            err_msg=(email_err_msg|nf))
        %}
    </div>
    {% call inputs::password(
        input_name="비밀번호", id="password", name="password", required=true,
        value="",
        err_msg=(pass_err_msg|nf))
    %}
    {% call scope::button(button_name="회원가입") %}
</form>