{%- import "macros/buttons.html" as scope -%}
{%- import "macros/inputs.html" as inputs -%}
<form 
    hx-post="/user/join"
    hx-swap="outerHTML"
    >
    {% call inputs::text(
        input_name="닉네임", id="nick_name", name="nick_name", required=true,
        value=(nick_name_value|nf),
        err_msg=(nick_name_err_msg|nf|linebreaksbr))
    %}
    {% call inputs::email(
        input_name="이메일", id="email", name="email", required=true,
        value=(email_value|nf),
        err_msg=(email_err_msg|nf))
    %}
    {% call inputs::password(
        input_name="비밀번호", id="password", name="password", required=true,
        value="",
        err_msg=(pass_err_msg|nf))
    %}
    {% call scope::button(button_name="회원가입") %}
</form>