{% extends "page_layouts/main_layout.html" %}
{%- import "macros/macros.html" as scope -%}

{% block title %}About{% endblock %}

{% block content %}
    <div class="m-2 p-2">
       <div class="mx-auto max-w-lg">
            <p>
                안녕하세요.! <br/>
                playsy는 bevy 엔진을 사용해서 제가 만든 게임을 게시하여
                웹에서 플레이 해볼수 있도록 만든 사이트 입니다.
            </p>
            <br/>

            <p>
                bevy는 ECS(Entity-Component-System) 패턴의 게임엔진이며
                기존의 게임개발에 일반적으로 사용되던 Node 상속구조 패턴이 아니라서 새롭고 흥미가 가는 엔진입니다. <br/>
                관심이 생기셨다면 한번 bevy engine을 확인해 보는것도 좋을거 같습니다.<br/>
                하지만 아직 메이저 버전이 안나왔고 활발히 개발중인 엔진이라 버그나 부족한점이 있을수 있습니다.
            </p>
            <br/>

            <p>
                피드백이나 질문사항이 존재하시다면(사소한것도 상관X) <br/>
                문의 탭을 이용해주시거나 lsy969999@gmail.com 로 메일해주시면 됩니다.
            </p>
       </div>
    </div>
{% endblock %}


