{% extends "page_layouts/error_layout.html" %}

{% block content %}
    <main class="h-screen bg-gray-100 flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md text-center">
            <h1 class="text-4xl font-bold mb-4 text-gray-800"> {{ error_code }} </h1>
            <p class="text-lg text-gray-600 mb-6"> {{ error_message }} </p>
            <a href="/" class="inline-block bg-indigo-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">홈으로 돌아가기</a>
        </div>
    </main>
{% endblock %}
