{% extends "page_layouts/main_layout.html" %}
{%- import "macros/macros.html" as scope -%}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="m-2 p-2 grid grid-cols-2 md:grid-cols-3">
        <div class="h-40 border flex m-2 p-2 justify-center items-center">
            <a href="/game/bevy_wasm_test">
                <div  class="bg-white p-4 rounded-lg shadow-md">
                    <h3 class="text-lg font-bold mb-2">wasm_test</h3>
                    <p class="text-gray-700">wasm_test</p>
                </div>
            </a>
        </div>
        <div class="h-40 border flex m-2 p-2 justify-center items-center">
            <a href="/game/bevy_wasm_test">
                <div  class="bg-white p-4 rounded-lg shadow-md">
                    <h3 class="text-lg font-bold mb-2">wasm_test</h3>
                    <p class="text-gray-700">wasm_test</p>
                </div>
            </a>
        </div>
        <div class="h-40 border flex m-2 p-2 justify-center items-center">
            <a href="/game/bevy_wasm_test">
                <div  class="bg-white p-4 rounded-lg shadow-md">
                    <h3 class="text-lg font-bold mb-2">wasm_test</h3>
                    <p class="text-gray-700">wasm_test</p>
                </div>
            </a>
        </div>
        <div class="h-40 border flex m-2 p-2 justify-center items-center">
            <a href="/game/bevy_wasm_test">
                <div  class="bg-white p-4 rounded-lg shadow-md">
                    <h3 class="text-lg font-bold mb-2">wasm_test</h3>
                    <p class="text-gray-700">wasm_test</p>
                </div>
            </a>
        </div>
        <div class="h-40 border flex m-2 p-2 justify-center items-center">
            <a href="/game/bevy_wasm_test">
                <div  class="bg-white p-4 rounded-lg shadow-md">
                    <h3 class="text-lg font-bold mb-2">wasm_test</h3>
                    <p class="text-gray-700">wasm_test</p>
                </div>
            </a>
        </div>
        <div class="h-40 border flex m-2 p-2 justify-center items-center">
            <a href="/game/bevy_wasm_test">
                <div  class="bg-white p-4 rounded-lg shadow-md">
                    <h3 class="text-lg font-bold mb-2">wasm_test</h3>
                    <p class="text-gray-700">wasm_test</p>
                </div>
            </a>
        </div>
        <div class="h-40 border flex m-2 p-2 justify-center items-center">
            <a href="/game/bevy_wasm_test">
                <div  class="bg-white p-4 rounded-lg shadow-md">
                    <h3 class="text-lg font-bold mb-2">wasm_test</h3>
                    <p class="text-gray-700">wasm_test</p>
                </div>
            </a>
        </div>
        <!-- <div class="h-40 border flex m-2 p-2 justify-center items-center">
            <span>game1</span>
        </div>
        <div class="h-40 border flex m-2 p-2 justify-center items-center">
            <span>game1</span>
        </div>
        <div class="h-40 border flex m-2 p-2 justify-center items-center">
            <span>game1</span>
        </div> -->
    </div>
{% endblock %}


