{% extends "page_layouts/main_layout.html" %}
{%- import "macros/macros.html" as scope -%}

{% block title %}Home{% endblock %}

{% block content %}
    <main class="flex-grow p-4 bg-gray-100">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            
            <a href="/game/bevy_wasm_test">
                <div  class="bg-white p-4 rounded-lg shadow-md">
                    <h3 class="text-lg font-bold mb-2">상품 1</h3>
                    <p class="text-gray-700">상품 설명</p>
                </div>
            </a>
            <!-- <div class="bg-white p-4 rounded-lg shadow-md">
                <h3 class="text-lg font-bold mb-2">상품 2</h3>
                <p class="text-gray-700">상품 설명</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-md">
                <h3 class="text-lg font-bold mb-2">상품 3</h3>
                <p class="text-gray-700">상품 설명</p>
            </div> -->
            <!-- 추가적인 상품 카드들... -->
        </div>
    </main>
{% endblock %}
