{% extends "page_layouts/main_layout.html" %}
{% block side_usage %} false {% endblock %}

{% block title %}Join Email{% endblock %}

{% block content %}
    <div class="m-2 sm:mx-auto sm:max-w-screen-sm mt-8 p-2 bg-white rounded-md border ">
        <div class="flex flex-col items-center m-2">
            <span class="font-semibold">
                가입이 완료 되었습니다.<br/>
                돌아가서 로그인해주세요.
            </span>
            <a href="/" >
                <button class="text-center border rounded-md p-2 m-2 bg-indigo-400 hover:bg-indigo-500 text-white">홈화면</button>
            </a>
        </div>
    </div>
{% endblock %}
