{% extends "page_layouts/main_layout.html" %}
{%- import "macros/buttons.html" as scope -%}
{%- import "macros/inputs.html" as inputs -%}

{% block title %}
    마이페이지
{% endblock %}

{% block content %}
    <section class="flex flex-col justify-center items-center  m-2">
        <div id="err-div" class="flex flex-col w-full lg:w-2/3">
            <!-- <div class="w-full bg-red-200">
                - asdfasdf </br>
                - asdfasdf </br>
                - asdfasdf </br>
                - asdfasdf </br>
            </div> -->
        </div>

        <form
            x-data="{
                init_nick: '{{ user.nick_name }}',
                nick_input: '{{ user.nick_name }}',
                nick_check() {
                    return this.nick_input !== this.init_nick;
                }
            }"
            hx-encoding='multipart/form-data'
            hx-post="/user/mypage/update"
            hx-target="#err-div"
            class="w-full lg:w-2/3">
            <div class="flex flex-col w-full ">
                <label>아바타</label>
                <div class="flex items-center">
                    {% if let Some(avatar_url) = user.avatar_url %}
                        <img id="myavatar" src="{{ avatar_url }}" alt="Avatar" class="w-12 h-12 mr-2">
                    {% else %}
                        <img id="myavatar" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" alt="Avatar" class="w-12 h-12 mr-2">
                    {% endif %}
                    <input name="profile_image" class="w-full file:bg-gray-300 file:px-4 file:py-2 file:rounded-md file:border-0 file:hover:bg-gray-400" type="file" accept="image/*">
                </div>
            </div>
            <div class="flex flex-col w-full ">
                <label>닉네임</label>
                <input x-model="nick_input" x-bind:name="nick_check() ? 'nick_name': ''" class="p-2  border" />
            </div>
            <div class="flex flex-col w-full ">
                <label>가입수단</label>
                <p class="p-2 rounded-sm border disabled:bg-gray-100" value="asdf" disabled >
                    {% match user.provider_ty_enum %}
                        {% when ProviderTyEnum::Email %}
                            이메일
                        {% when ProviderTyEnum::Google %}
                            구글
                        {% when ProviderTyEnum::Kakao %}
                            카카오
                        {% when ProviderTyEnum::Naver %}
                            네이버
                        {% when ProviderTyEnum::Github %}
                            깃허브
                        {% when ProviderTyEnum::Apple %}
                            애플
                        {% when ProviderTyEnum::Facebook %}
                            페이스북
                    {% endmatch %}
                </p>
            </div>
            {% if user.provider_ty_enum == ProviderTyEnum::Email %}
                {% if let Some(email) = user.email %}
                    <div class="flex flex-col w-full ">
                        <label>이메일</label>
                        <p class="p-2 rounded-sm border disabled:bg-gray-100" disabled > {{ email }} </p>
                    </div>
                {% endif %}
                {% if user.user_stt_enum == UserSttEnum::WaitEmailVeri  %}
                    <button
                        x-on:click="location.href='/user/email_verification'"
                        type="button"
                        class="text-white bg-indigo-500 hover:bg-indigo-600 w-full p-2 rounded-sm">이메일 인증하러 가기</button>
                {% endif %}
            {% endif %}
            <div class="flex flex-col w-full ">
                <label>가입일</label>
                <p
                    x-data="{ joindate: {{ user.created_at|to_timestamp }} }"
                    x-init="joindate = dateFns.format(new Date(joindate), 'yyyy-MM-dd HH:mm:ss')"
                    x-text="joindate"
                    class="p-2 rounded-sm border disabled:bg-gray-100" disabled > </p>
            </div>
    
            <div class="flex w-full  mt-3">
                <button
                    type="submit"
                    class="text-white bg-indigo-500 hover:bg-indigo-600 w-full p-2 rounded-sm">변경 사항 저장</button>
            </div>
        </form>
        <div class="flex w-full lg:w-2/3 justify-end mt-10">
            <button
                x-on:click="
                    modal_state.open = true;
                    modal_state.title = '회원탈퇴';
                    modal_state.content = '정말 탈퇴 하시겠습니까?';
                    modal_state.button = '탈퇴';
                    modal_state.button_fn = async () => {
                        await htmx.ajax('POST', '/user/withdrawl');
                        console.log('end');
                    };
                "
                class="border bg-red-400 hover:bg-red-500 rounded-sm p-2">회원 탈퇴</button>
        </div>
    </section>
{% endblock %}



{% block additional_head %}
{% endblock %}




{% block additional_script %}
{% endblock %}
