{% extends "page_layouts/main_layout.html" %}
{% block side_usage %} false {% endblock %}

{% block title %}BevyWasmTest{% endblock %}

{% block content %}
    <div
        class="m-2 p-2 h-5/6 ">
        <div id="con" class=" border bg-gray-400 rounded-lg">
            <div id="progress" class=" absolute top-1/2 left-1/2  transform -translate-x-1/2 -translate-y-1/2 ldBar label-center" data-preset="bubble"></div>
            <canvas id="bevy_canvas"></canvas>
        </div>
    </div>
    <script type="module">
        import init from '/static/game/bevy_wasm_test/bevy_wasm_test.js'
        const con = document.querySelector('#con')
        const h = Math.round(con.clientWidth * 9 /16)
        con.style.height = `${h}px`;
        var prg = new ldBar("#progress");
        window.bevyProgressiveFetch = async (resource) => {
            return progressive_fetch(resource, {
                start: (length) => {
                    console.log('[progressive_fetch] start', length)
                },
                progress: (progress, length) => {
                    //console.log('[progressive_fetch] update', progress, length, 100 * progress/length)
                    const per = 100 * progress/length;
                    prg.set(per)
                },
                flush: (length) => {
                    console.log('[progressive_fetch] flush', length)
                    //prg.style.display='none'
                    document.querySelector('#progress').style.display = 'none'
                }
            })
        }
        init()
    </script>
{% endblock %}
