{% extends "page_layouts/main_layout.html" %}
{% block side_usage %} false {% endblock %}

{% block title %}BevyWasmTest{% endblock %}

{% block content %}
    <div
        class="m-2 p-2 h-5/6 ">
        <div class="border w-full h-full lg:p-10 ">
            <canvas id="bevy_canvas"></canvas>
        </div>
    </div>
    <script>
        document.addEventListener('alpine:init', () => {
            console.log('??')
            //document.querySelector('#side_bar').classList.add('hidden')
        })
    </script>
    <script type="module">
        import init from '/static/game/bevy_wasm_test/bevy_wasm_test.js'
        // const con = document.querySelector('#con')
        // const h = Math.round(con.clientWidth * 9 /16)
        // con.style.height = `${h}px`;
        //var prg = new ldBar("#progress");
        window.bevyProgressiveFetch = async (resource) => {
            return progressive_fetch(resource, {
                start: (length) => {
                    console.log('[progressive_fetch] start', length)
                },
                progress: (progress, length) => {
                    //console.log('[progressive_fetch] update', progress, length, 100 * progress/length)
                    const per = 100 * progress/length;
                    //prg.set(per)
                },
                flush: (length) => {
                    console.log('[progressive_fetch] flush', length)
                    //prg.style.display='none'
                    //document.querySelector('#progress').style.display = 'none'
                }
            })
        }
        init()
    </script>
{% endblock %}
