<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/img/faviconf/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Application{% endblock %}</title>
        {% include "page_layouts/blocks/default_css.html" %}
        {% block additional_head %} {% endblock %}
    </head>
    <body
        x-data="{}"
        x-on:htmx:response-error="
            // 첫진입 깜빡임 제거
            // document.getElementById('error_modal').classList.remove('hidden');
            // console.error('htmx error!!', $event);
            // const responseJSON = JSON.parse($event.detail.xhr.responseText);
            // err_modal_head = '서버처리중 에러가 발생하였습니다.';
            // err_modal_body = responseJSON.error_message;
            // err_modal_open = true;
            alert('서버처리중 에러가 발생하였습니다.')
        "
    >
        <main class="mx-auto max-w-screen-sm flex flex-col items-center mt-1 p-4">
            {% block content %}
                hi
            {% endblock %}
        </main>

        {% include "page_layouts/blocks/default_script.html" %}
        {% block additional_script %} {% endblock %}
    </body>
</html>