<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/img/faviconf/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Application{% endblock %}</title>
        {% include "page_layouts/blocks/default_css.html" %}
        {% block additional_head %} {% endblock %}
    </head>
    <body
        x-data="{
            drop_down: false,
            side_open: false,
            side_usage: {% block side_usage %} true {% endblock %},
        }"
        x-on:htmx:response-error="
            console.log($event);
            const xhr = $event.detail.xhr;
            let errorMsg = xhr.getResponseHeader('x-hr-err-msg');
            console.error('errorMsg', errorMsg);
            alert('서버처리중 에러가 발생하였습니다.')
        "
        class=" bg-gray-50"
    >
        
        {% block content %}
            hi
        {% endblock %}
        
        {% include "page_layouts/blocks/default_script.html" %}
        {% block additional_script %} {% endblock %}
    </body>
</html>